{% if input_type in allowed_input_type %}
	<div class="fr-input-group">
    <label class="fr-label" for="{{ input_name }}">
        {{ label }}
    </label>
	<input class="fr-input {% if input_extra_classes %}{{ input_extra_classes }}{% endif %}" type="{{ input_type }}" id="{{ input_name }}"
	       name="{{ input_name }}"
			{% if input_placeholder %} placeholder="{{ input_placeholder }}" {% endif %}
			{% if input_type == "email" %} autocomplete="email"{% endif %}
			{% if input_type == "tel" %} autocomplete="tel"{% endif %}
			{% if input_extra_attributes %}{{ input_extra_attributes }}{% endif %}>
</div>
{% elif input_type == "checkbox" %}
	<div class="fr-fieldset__element">
		<div class="fr-checkbox-group">
		    <input name="{{ input_name }}" id="{{ input_name }}" type="checkbox">
		    <label class="fr-label" for="{{ input_name }}">
		        {{ label }}
		    </label>
		</div>
	</div>
{% elif input_type == "radio" %}
	<div class="fr-fieldset__element">
	    <div class="fr-radio-group">
	        <input type="radio" id="{{ input_name }}" name="{{ input_name }}">
	        <label class="fr-label" for="{{ input_name }}">
	            {{ label }}
	        </label>
	    </div>
	</div>
{% else %}
	<div class="fr-alert fr-alert--error">
    <h3 class="fr-alert__title">Erreur : le type d'input n'est pas implémenté !</h3>
    <p>La valeur "{{ input_type }}" pour l'attribut "type" de l'inclusion tag n'a pas encore été implémenté, veuillez choisir un type parmis la liste suivante : </p>
	<ul>
		{% for type in allowed_input_type %}
			<li>{{ type }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% for attribute in input_attributes %}
	{{ attribute }}
{% endfor %}