{% extends "dsfr/base.html" %}
{% load static %}
{% block extra_css %}
	<script src="https://unpkg.com/htmx.org@1.9.10"
	        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
	        crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
	<script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/class-tools.js"></script>
	<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
{% endblock %}
{% block header %}
	{% include "dsfr/header.html" %}
{% endblock header %}
{% block content %}
	{% load customdsfr_tags %}
	{% custom_input input_type="text" input_name="text" label="Text" %}
	{% custom_input input_type="date" input_name="date" label="Date" %}
	{% custom_input input_type="datetime-local" input_name="datetime-local" label="Datetime Local" %}
	{% custom_input input_type="email" input_name="email" label="Email" %}
	{% custom_input input_type="month" input_name="month" label="Month" %}
	{% custom_input input_type="number" input_name="number" label="Number" %}
	{% custom_input input_type="password" input_name="password" label="Password" %}
	{% custom_input input_type="search" input_name="search" label="Search" %}
	{% custom_input input_type="tel" input_name="tel" label="Telephone" %}
	{% custom_input input_type="time" input_name="time" label="Time" %}
	{% custom_input input_type="url" input_name="url" label="URL" input_placeholder="jambon" %}
	{% custom_input input_type="week" input_name="week" label="Week" %}
	{% custom_input input_type="checkbox" input_name="checkbox" label="checkbox" %}
	{% custom_input input_type="radio" input_name="radio" label="radio" %}
	{% load dsfr_tags %}
	{% dsfr_table %}
{% endblock %}
{% block extra_js %}
	<script src="{% static 'js/formValidationEventListener.js' %}"></script>
	<script>
	const input_name = ['text', 'date', 'datetime-local', 'email', 'month', 'number', 'password', 'search', 'tel',
		'time', 'url', 'week', 'checkbox', 'radio'];
	
	for (let i = 0; i < input_name.length; i++) {
		let input = document.getElementsByName(input_name[i])[0];
		formValidationError(input.parentElement, {"pages": ["Assurez-vous que cette valeur est supérieure ou égale à 1."]});
		setTimeout(() => {
			formValidationSuccess(input.parentElement);
		}, 5000);
	}

	</script>
{% endblock %}