{% extends "dsfr/header.html" %}
{% block header_tools %}
	<li>
		<a class="fr-btn fr-icon-lock-line" href="{% url 'logout' %}">Se déconnecter</a>
	</li>
{% endblock %}
{% block main_menu %}
	<div class="fr-header__menu fr-modal" id="fr-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
        <button class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile">
            Fermer
        </button>
        <div class="fr-header__menu-links"></div>
        <nav role="navigation" class="fr-nav" id="fr-navigation" aria-label="Menu principal">
            <ul class="fr-nav__list">
                <li class="fr-nav__item">
                    <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-776" aria-current="true">Entrée menu active</button>
                    <div class="fr-collapse fr-menu" id="menu-776">
                        <ul class="fr-menu__list">
                            <li>
                                <a class="fr-nav__link" href="{% url 'index' %}" target="_self">Livres</a>
                            </li>
                            <li>
                                <a class="fr-nav__link" href="{% url 'gain' %}" target="_self">Indicateur</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}