#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--grey-975-75);
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1751;
}

.loader-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid var(--blue-france-sun-113-625);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.fr-input-group--error:before, .fr-input-group--valid:before, .fr-error-text, .fr-valid-text {
    opacity: 0;
    transition: opacity 0.5s ease, color 0.5s ease;
}

.fr-input-group--error.show:before, .fr-input-group--valid.show:before, .fr-error-text.show, .fr-valid-text.show {
    opacity: 1;
}

.fr-input-group .fr-label {
    transition: color 0.5s ease;
}

.fr-input--error, .fr-input--valid {
    box-shadow: 0 0 0 0 !important;
}

.fr-input--error.show {
    box-shadow: inset 0 -2px 0 0 var(--border-plain-error) !important;
}

.fr-input--valid.show {
    box-shadow: inset 0 -2px 0 0 var(--border-plain-success) !important;
}

.fr-error-text.show, .fr-valid-text.show {
    animation: pulse 0.2s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
